body {
  /* opacity: 80%; */
  text-align: center;
  background-image: url('./images/images.jpg');
}
.background {
  display: inline-blockâ€;
}
.banner {
  background: #329997;
  opacity: 90%;
  font-size: xx-large;
  text-shadow: 3px 2px darkorange;
  color: lightgoldenrodyellow;
}
.btnOpen {
  background-color: #329997;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: lightgoldenrodyellow;
  opacity: 90%;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.chat {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  opacity: 90%;
}

.form-container {
  max-width: 300px;
  /* padding: 10px; */
  background-color: white;
}
.form-container label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: #329997;
}
.form-container textarea {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  font-size: medium;
}
.form-container input {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: small;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}
.btnSend {
  background-color: #329997;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}
.btnCancel {
  background-color: #993267;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}
.gallery {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  color: lightgoldenrodyellow;
  font-style: italic;
  text-shadow: 1px 1px darkorange;
}
.js-Carousel {
  background: #272822;
  height: 255px;
  margin: 0 auto 2em;
  overflow: hidden;
  position: relative;
  width: 600px;
}
.js-Carousel > ul {
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
}
.js-Carousel > ul li {
  display: inline-block;
  float: left;
  width: 600px;
  transition: margin-left 0.3s ease;
}
.js-Carousel > ul li img {
  max-width: 100%;
}
.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
  background: transparent;
  border: 0;
  color: #329997;
  cursor: pointer;
  font: 400 10em sans-serif;
  height: 200px;
  outline: 0;
  position: absolute;
  top: 0;
  text-shadow: 0 0 10px #444444;
  width: 90px;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-arrowPrev:hover,
.js-Carousel .js-Carousel-arrowNext:hover {
  color: #993267;
}
.js-Carousel .js-Carousel-arrowPrev {
  left: 0;
}
.js-Carousel .js-Carousel-arrowNext {
  right: 0;
}
.js-Carousel .js-Carousel-dots {
  display: inline-block;
  height: 1.25em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: auto;
}
.js-Carousel .js-Carousel-dots li {
  background: #329997;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  height: 0.75em;
  margin: 0 0.75em;
  width: 0.75em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-dots li.is-active {
  background: #993267;
  box-shadow: 0 0 3px 3px #ddd;
}
.js-Carousel .js-Carousel-dots li:hover {
  background: #993267;
}
